<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/admin/create-product" method="post" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="Nhập tên" />
        <input type="text" name="description" placeholder="Nhập mô tả" />
        <input type="file" name="image" />
        <input type="number" name="price" placeholder="Nhập giá" />
        <input type="text" name="id_category" value="639151a217c31143fea82e07" />
        <button type="submit">Create</button>
    </form>
</body>
</html>