body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.navbar {
    margin-bottom: 0;
    position: fixed;
    z-index: 1;
    width: 100%;
}
.navbar-nav {
    position: relative;
}
.dropdown-menu {
    position: absolute;
    top: 110%;
    right: 0;
    left: -300px
}

.w-100 {
    height: 80vh;
}

@media screen and (max-width: 820px) {
    .w-100 {
        height: 30vh;
    }
  }

.carousel {
    padding-top: 56px;
}

.category-content {
    padding: 20px;
}

.card-category {
    position: relative;
}

.img-category {
    border-radius: 10px;
}

.title-category {
    position: absolute;
    top: calc(50% - 23px);
    left: calc(50% - 100px);
    background-color: white;
    opacity: 0.8;
    color: black !important;
    padding: 10px 20px;
    height: 45px;
    width: 200px;
    text-align: center;
    font-weight: 800;
    border-radius: 10px;
    text-decoration: none !important;

}

.title-category:hover {
    transform: scale(1.1);
}

.product-content {
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
}


.title-content {
    margin: 0 auto;
    text-align: center;
}

.card-img-top {
    max-height: 230px;
    border-radius: 10px;
}


.list-items {
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

.item {
    padding: 5px;
    border-radius: 10px;
    border: 1px solid blue;
}

/* login */

.wrapper {
    padding: 100px 20px;
}

.title-login {
    text-align: center;
}

.content-login {
    margin-top: 30px;
}

.wrap-register, .wrap-login {
    border: 1px solid blue;
    padding: 50px 30px;
    height: 100%;
}

.wrap-register {
    line-height: 2.5rem;
}

.btn-register {
    border: 1px solid blue;
    background-color: white;
    opacity: 0.8;
    color: black !important;
    padding: 10px 20px;
    height: 45px;
    width: 200px;
    text-align: center;
    font-weight: 800;
    border-radius: 10px;
    text-decoration: none !important;
}

.btn-register:hover {
    background-color: antiquewhite;
    cursor: pointer;
}
/* register */
.content-register {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
}

.info-user {
    padding: 25px;
    border: 1px solid blue;
}

/* profile */
.title-profile {
    text-align: center;
}

.border-bottom {
    border-bottom: 1px solid gray;
}

.text-profile {
    padding: 20px 0;
}

.cart-profile {
    padding: 20px 0;
}


.btn-product {
    border: 1px solid blue;
    background-color: white;
    opacity: 0.8;
    color: black !important;
    padding: 10px 20px;
    height: 45px;
    width: 200px;
    text-align: center;
    font-weight: 800;
    border-radius: 10px;
    text-decoration: none !important;

}

.btn-product:hover {
    transform: scale(1.1);
}