<ul class="navbar navbar-expand-lg navbar-dark bg-dark px-5">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="/"><img class="logo" src="./img/logo.jpg"></img> AloHoa Flower</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="/">Trang chủ<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Cửa hàng</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <ul class="navbar-nav mr-0">
        <li class="nav-item dropdown">
            <a class="nav-link active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <p class="dropdown-item">Không có sản phẩm trong giỏ</p>
                <div class="dropdown-divider"></div>
                <div class="dropdown-item clearfix">
                    <p class="float-left d-inline">Tổng tiền:</p>
                    <p class="float-right d-inline"> VND</p>
                </div>
                <div class="dropdow-item d-flex justify-content-center">
                    <button type="button" class="btn btn-outline-primary">Xem giỏ hàng</button>
                </div>
            </div>
          </li>
      </ul>
      <ul class="navbar-nav mr-0">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user-o" aria-hidden="true"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <p class="dropdown-item">Xin chào ABC</p>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/user/profile"><i class="fa fa-user-o" aria-hidden="true"></i> Tài khoản</a>
                <a class="dropdown-item" href="/user/login"><i class="fa fa-sign-in" aria-hidden="true"></i> Đăng nhập</a>
                <a class="dropdown-item" href="/user/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Đăng xuất</a>
            </div>
          </li>
      </ul>
    </div>
  </nav>